p {
	display: inline-block;
	width: 30%;
	margin: 1.66%;
	float: left;
}

button {
	margin: 1.66%;
	float: left;
}

.block {
	position: absolute;
	width: 40%;
	padding-bottom: 40%;
	float: left;
	z-index: 2;
}

.top-left-quarter {
	left: 6.6%;
	top: 6.6%;
	border-radius: 100% 0 0 0;
}

.top-right-quarter {
	right: 6.6%;
	top: 6.6%;
	border-radius: 0 100% 0 0;	
}

.bottom-left-quarter {
	left: 6.6%;
	bottom: 6.6%;
	border-radius: 0 0 0 100%;
}

.bottom-right-quarter {
	right: 6.6%;
	bottom: 6.6%;
	border-radius: 0 0 100% 0;
}

.red {
	background: hsl(0, 100%, 40%);
}

.green {
	background: hsl(120, 100%, 40%);
}

.blue {
	background: hsl(240, 100%, 40%);
}

.yellow {	
	background: hsl(60, 100%, 40%);
}

.redSelected {
	background: hsl(0, 100%, 50%);
}

.greenSelected {
	background: hsl(120, 100%, 50%);
}

.blueSelected {
	background: hsl(240, 100%, 50%);
}

.yellowSelected {	
	background: hsl(60, 100%, 50%);
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	box-shadow: 0 0 3px black;
}

#container {
	background: #333;
	max-width: 600px;
	position: relative;
	width: 40vw;
	height: 40vw;
	margin: 0 auto;
	border-radius: 50%;
}

#pannel {
	background: #ECE7EE;
	position: absolute;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	width: 40%;
	height: 40%;
	border: 1em solid #333;
	border-radius: 50%;
	z-index: 10;
}